.LoginContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputLogin {
    padding: 16.5px 5px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 6px;
    width: 100%;
    background-color: white;
}

.LoginButton {
    border: 1px solid rgb(204, 202, 202);
    width: 100%;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 16.5px 14px;
    font-weight: 500;
    font-family: inherit;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;

}
.LoginButton:hover{
    border-color: #646cff;
}

.hidePassword{
    display: flex;
    flex-direction: row;
    align-items: center;
}
p{
    margin: 0;
    padding: 0 6px;
}